<div [ngClass]="{'product-container': component === 'list', 'product-container-details': component === 'details', 'cart-item': component === 'product-cart'}">
  <a routerLink="details/{{ product.id }}">
    <img src="{{product.url}}" [ngClass]="{'product-image': component === 'list' || component === 'details', 'cart-image': component === 'product-cart'}">
  </a>
  <div class="product-container-right">
    <h1>{{product.name}}</h1>
    <div *ngIf="component === 'details'" class="description"> {{product.description}}</div>
    <div class="currency"> {{product.price}}</div>
    <form action="#">
      <label for="amount">Amount</label>
      <select name="amount" id="amount" [(ngModel)]="product.amount" *ngIf="component === 'list' || component === 'details'">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
      <input type="number" name="amount" [(ngModel)]="product.amount" *ngIf="component === 'product-cart'">
      <button *ngIf="component === 'list' || component === 'details'" type="submit" (click)="added.emit(product)"
              class="select-input select-input product-btn">add to cart
      </button>
    </form>
  </div>
</div>

