<div class="order-container">
  <div class="order-header">
    <div class="order-total">
      <h5>TOTAL</h5>
      <p>1000$</p>
    </div>
    <div class="order-recipient">
      <h5>DISPATCH TO</h5>
      <p>{{user.firstname}} {{user.lastname}}</p>
    </div>
    <div class="order-number">
      <h5>ORDER</h5>
        <h5># {{orderItem.id}}</h5>
    </div>
    <div class="order-status">
      <h5>STATUS</h5>
        <p>{{orderItem.status}}</p>
    </div>
  </div>
  <div class="order-items">
    <app-cart-item *ngFor="let productItem of productList" [product]="productItem"></app-cart-item>
  </div>
  <div class="order-details">
  </div>
</div>

