p, h5 {
  font-size: 12px;
}

.flex-container{
  display: flex;
  flex-direction: row;
}

.order-container{
  width: 920px;
  margin: auto;
  box-shadow: 0 2px 15px -3px rgb(0 0 0 / 7%), 0 10px 20px -2px rgb(0 0 0 / 4%);
  border-radius: 0.25rem;
  color: black;
}

.order-items{
  margin: 0 20px 0 20px;
}

.order-header{
  width: 880px;
  height: 50px;
  margin: 0 10px 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

