nav {
  background-color: #333;
  height: 60px;
  display: flex;
}

ul {
  list-style-type: none;
  margin: auto;
  overflow: hidden;
  display:flex;
  width: 920px;
}

@media only screen and (max-width: 920px) {
  ul {
    width: 620px;
  }
}

@media only screen and (max-width: 620px) {
  ul {
    width: 310px;
  }
}

li {
  width: 150px;
}

li a {
  color: white;
  text-align: center;
  padding: auto;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}



.nav-logo {
  font-size: 28px;
}

.nav-link:hover {
  background-color: gray;
}

