<nav class="">
  <ul class="nav nav-pills">
    <li class="nav-logo">
      <a class="nav-link active" routerLink="">MyShop<span class="sr-only"></span></a>
    </li>
    <li class="nav-item product-group">
      <a class="nav-link" routerLink=""><p>Product List</p></a>
    </li>
    <li class="nav-item icon-group">
      <a class="nav-link" routerLink="/cart">
        <i class="glyphicon glyphicon-shopping-cart"></i>
        <p style="margin: 0;">Basket</p>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
         aria-haspopup="true" aria-expanded="false">
        <i class="glyphicon glyphicon-user"></i>
        <p style="margin: 0;">Hello, sign in!</p>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/login">
          <button type="button" class="btn btn-primary">Sign In</button>
        </a>
        <p class="dropdown-item register">Not a member? <a routerLink="/signup" style="color:dodgerblue">Register</a>
        </p>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Your Account</a>
        <a class="dropdown-item" href="#">Orders</a>
      </div>
    </li>
  </ul>
</nav>


