<div *ngIf="cartList.length > 0 && !confirmed">
  <div class="cart-container">
    <div class="cart-panel">
      <app-cart-item *ngFor="let cartItem of cartList" [product]="cartItem" [component]="component"
                     (deleted)="onDelete(cartItem)" (updated)="updateCart(cartItem)"></app-cart-item>
    </div>
    <div class="form-panel flex-container row-right">
      <div class="p-5">
        <div class="flex-container">
          <h3 class="">Summary</h3>
        </div>
        <hr class="divider">
        <h5 class="text-uppercase mb-3">Shipping</h5>
        <div class="flex-container">
          <h5 class="">Devlivery Address</h5>
          <div class="row-right">
            <div class="">`${{user.firstname}} ${{user.firstname}}`</div>
            <div class="">${{user.address}}</div>
            <div class="">${{user.zipCode}} ${{user.city}}</div>
          </div>
        </div>
        <form #form="ngForm" class="form" (ngSubmit)="onSubmit()">
          <select class="select select-initialized">
            <option value="1">Standard-Delivery- $5.00</option>
            <option value="2">Fast-Delivery- $10.00</option>
            <option value="3">Same-Day-Delivery- $15.00</option>
          </select>
        </form>
        <hr class="divider">
        <div class="flex-container">
          <h5 class="text-uppercase">Payment</h5>
          <div class="row-right">
            <div class="">${{user.creditcard}}</div>
          </div>
        </div>
        <hr class="divider">
        <div class="flex-container">
          <h5 class="text-uppercase">items 3</h5>
          <h5 class="row-right"> ${{total}}</h5>
        </div>
        <div class="flex-container">
          <h5 class="text-uppercase">Total price:</h5>
          <h5 class="row-right">€ 137.00</h5>
        </div>
        <button type="submit" [disabled]="form.invalid" class="cart-btn">submit
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="cartList.length === 0 && !confirmed">
    <p class="empty-cart-message">no items selected</p>
  </div>
  <app-confirmation *ngIf="confirmed" [checkoutData]="checkoutData"></app-confirmation>
</div>
