.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 64px auto;
  width: 920px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-margin {
  margin-bottom: 12px;
}

.input {
  width: 300px;
  text-align: center;
}

.cart-panel {
  width: 420px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  font-size: 24px;
}

.sum {
  display: flex;
  justify-content: center;
  font-size: 24px
}




