.flex-container {
  display: flex;
  flex-direction: row;
}
.text-uppercase {
  text-transform: uppercase
}

.row-right {
  margin-left:auto;
}

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
  /* border: 16px; */
  border-top: 1px solid #4F4F4F;
  opacity: 0.15;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 64px auto;
  width: 920px;
}

.cart-panel {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.form-panel {
  width: 300px;
  background-color: #eae8e8;
  box-shadow: 0 2px 15px -3px rgb(0 0 0 / 7%), 0 10px 20px -2px rgb(0 0 0 / 4%);
  border-radius: 0.25rem;
  color: black;
  justify-content: center;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top:20px;
  margin-bottom:20px;
}


.cart-btn {
  background-color:black;
  color: white;
  border-radius: 0.25rem;
  border: none;
  line-height: 2.15;
  box-shadow: 0 4px 9px -4px #332d2d;
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.cart-btn:hover {
  opacity:0.25
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  font-size: 24px;
}




