<div *ngIf="cartList.length > 0 && !confirmed">
  <div class="cart-container">
    <div class="cart-panel">
      <app-cart-item *ngFor="let cartItem of cartList" [product]="cartItem" [component]="component"
                     (deleted)="onDelete(cartItem)" (countDown)="countDown(cartItem)" (countUp)="countUp(cartItem)"></app-cart-item>
    </div>
    <div class="form-panel flex-container row-right">
      <div class="p-5">
        <div class="flex-container">
          <h3 class="">Summary</h3>
        </div>
        <hr class="divider">
        <h5 class="text-uppercase mb-3">Shipping</h5>
        <div class="flex-container">
          <div class="">
            <div class="">{{user.firstname}} {{user.lastname}}</div>
            <div class="">{{user.address}}</div>
            <div class="">{{user.zipCode}} {{user.city}}</div>
          </div>
        </div>
        <form #form="ngForm" class="form" (ngSubmit)="onSubmit()">
          <select class="select select-initialized">
            <option value="1">Standard-Delivery- ${{deliveryOptions.standard}}</option>
            <option value="2">Fast-Delivery- ${{deliveryOptions.fast}}</option>
            <option value="3">Same-Day-Delivery- ${{deliveryOptions.sameDay}}</option>
          </select>
        </form>
        <hr class="divider">
        <h5 class="text-uppercase">Payment</h5>
        <div class="flex-container">
          <div class="">Cardnumber:</div>
          <div class="row-right"> {{user.creditcard}}</div>
        </div>
        <hr class="divider">
        <div class="flex-container">
          <h5 class="text-uppercase">items {{cartList.length}}</h5>
          <h5 class="row-right"> ${{total}}</h5>
        </div>
        <div class="flex-container">
          <h5 class="text-uppercase">Total price:</h5>
          <h5 class="row-right">€ 137.00</h5>
        </div>
        <button type="submit" [disabled]="form.invalid" class="cart-btn">submit
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="cartList.length === 0 && !confirmed">
    <p class="empty-cart-message">no items selected</p>
  </div>
  <app-confirmation *ngIf="confirmed"></app-confirmation>
</div>
