<div *ngIf="cartList.length > 0 && !confirmed">
  <div class="cart-container">
    <div class="cart-panel">
      <app-cart-item *ngFor="let cartItem of cartList" [product]="cartItem" [component]="component"
                        class="cart-panel"></app-cart-item>
    </div>
    <form #form="ngForm" class="form" (ngSubmit)="onSubmit()">
      <label for="name">Name</label>
      <input type="text"
             name="name"
             id="name"
             required minlength="6"
             placeholder="minimum 6 characters"
             class="number-input form-margin"
             [(ngModel)]="checkoutData.name">
      <label for="adress">adress </label>
      <input type="text"
             name="adress"
             id="adress"
             required maxlength="6"
             placeholder="max 100 characters"
             class="form-margin" [(ngModel)]="checkoutData.adress">
      <label for="card">credit card </label>
      <input type="number"
             name="card"
             id="card"
             required minlength="10"
             class="number-input form-margin"
             [(ngModel)]="checkoutData.creditcard">
      <button type="submit" [disabled]="form.invalid" class="select-input select-input btn btn-primary">submit</button>
    </form>
  </div>
  <span class="sum">Total: ${{total}}</span>
</div>
<div *ngIf="cartList.length === 0 && !confirmed">
  <p class="empty-cart-message">no items selected</p>
</div>
<app-confirmation *ngIf="confirmed" [checkoutData]="checkoutData"></app-confirmation>
