

.cart-image {
  width: 100px;
  border-radius: 10px;
}


.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border: 0;
  box-shadow: 0 2px 15px -3px rgb(0 0 0 / 7%), 0 10px 20px -2px rgb(0 0 0 / 4%);
  background-color:white;
  border-radius: 1.25rem;
}

.cart-item-left, .cart-item-center, .cart-item-right {
  margin: auto;
  width:30%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

form {
  display: flex;
}

.form-btn {
  border-color: transparent;
  background-color: transparent;
  font-size: 8px
}

/* Hide arrows from input i, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amount {
  width: 50%;
  margin: auto;
}

.currency::before {
  content:"$";
}

